@page
@model TraumaRegistryAdmin.Pages.ReferenceDetails.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReferenceDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReferenceDetail.Id" />
            <div class="form-group">
                <label asp-for="ReferenceDetail.Code" class="control-label"></label>
                <input asp-for="ReferenceDetail.Code" class="form-control" />
                <span asp-validation-for="ReferenceDetail.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceDetail.Description" class="control-label"></label>
                <input asp-for="ReferenceDetail.Description" class="form-control" />
                <span asp-validation-for="ReferenceDetail.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceDetail.ReferenceId" class="control-label"></label>
                <select asp-for="ReferenceDetail.ReferenceId" class="form-control" asp-items="ViewBag.ReferenceId"></select>
                <span asp-validation-for="ReferenceDetail.ReferenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
