
    <select class="form-control mb-4" Label=@PlaceHolder  @onchange="@selectedIdChanged">
        @if (refTable.TableData != null)
        {

            @foreach (var item in refTable.TableData)
            {
                <option value=@item.Id.ToString()>@item.Description</option>
            }
        }
       </select>

        @code {
            [Parameter]
            public string TableName { get; set; }
            [Parameter]
            public string PlaceHolder { get; set; }

            [Parameter]
            public EventCallback<int> IdChanged { get; set; }



            RefTableDTO refTable = new RefTableDTO();

            protected override async Task OnInitializedAsync()
            {
                ReferenceTableClient client = new ReferenceTableClient();
                refTable = await client.GetRefTableDataAsync(TableName);
            }

            void selectedIdChanged(ChangeEventArgs e)
            {
                IdChanged.InvokeAsync(Convert.ToInt32(e.Value));
            }
        }
