
    <select class="form-control mb-4" @onchange="selectedIdChanged">
        @if (refTable.TableData != null)
        {
            @if (!string.IsNullOrEmpty(PlaceHolder))
            {
                <option value="" selected disabled>Please select @PlaceHolder </option>
            }
            @foreach (var item in refTable.TableData)
            {
                <option value=@item.Id>@item.Description</option>
            }
        }
    </select>

@code {
    [Parameter]
    public string TableName { get; set; }
    [Parameter]
    public string PlaceHolder { get; set; }

    [Parameter]
    public EventCallback<int> IdChanged { get; set; }



    RefTableDTO refTable = new RefTableDTO();

    protected override async Task OnInitializedAsync()
    {
        ReferenceTableClient client = new ReferenceTableClient();
        refTable = await client.GetRefTableDataAsync(TableName);
    }

    void selectedIdChanged(ChangeEventArgs e)
    {
        IdChanged.InvokeAsync(Convert.ToInt32(e.Value));
    }
}
