@page "/Setup"


<h2><i class="fas fa-wrench"></i>System Setup and Configuration</h2>
<br />
<p>
    Welcome to the Trauma Registry!
    There are a few configuration choices that need to be made before the system is operational.
</p>

<form>

    <label for="sel_dbProvider">Database Provider</label>
    <select class="form-control" style="width: 200px" id="sel_dbProvider" @bind="dbProvider">
        <option value="sqlserver">sqlserver</option>
        <option value="postgresql">PostgreSQL</option>
        <option value="mysql">MySQL</option>
    </select>
</form>

<br />

Server=(localdb)\mssqllocaldb;Database=TraumaRegistryData;Trusted_Connection=True;ConnectRetryCount=0
<br />

<label for="txtConnectionString">Connection String</label>
<form class="form-inline">
    <input style="width: 300px;" class="form-control" id="txtConnectionString" type="text" @bind="connectionString" />
    <button type="button" class="btn btn-primary" @onclick="CreateTraumaRegistryDatabase">Start Configuration &nbsp;<i class="fas fa-cogs"></i></button>
    @if (showSpinner)
    {
        <div class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }

</form>

<div class="form-group">
    <label for="txtAreaOutput">Output</label>
    <textarea class="form-control rounded-0" id="txtAreaOutput" rows="10" @bind="outputString"></textarea>
</div>
@code {
    string dbProvider = "sqlserver";
    string connectionString;
    string outputString;
    bool showSpinner = false;



    async Task CreateTraumaRegistryDatabase()
    {
        showSpinner = true;
        outputString = "";
        SetupClient client = new SetupClient();
        outputString = await client.SetupDatabaseAsync(dbProvider, connectionString);
        showSpinner = false;
    }
}
